# Secrets and Environment Variables
.env
.env.*

# Python Virtual Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific Files
.DS_Store
Thumbs.db

# Local Databases and Logs
*.db
*.sqlite3
*.log
!job_costing_v7.db

# Application Specific Temp Directories
/static/temp_uploads/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Local Templates and Reference Files
1st and Clark Progress Card.xlsx
7a8107cd-8ded-452d-953c-c51f8498db2d.pdf
